<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h4> Sobre</h4>
            <div class="card-text">
                A uParty é uma empresa criada por Gabriel Gontijo,Pedro Assis e Rafael Barros, a partir de uma ideia inovadora, construída para facilitar e ajudar os usuários a encontrar o melhor evento de entretenimento, com os detalhes necessários.Os criadores da uParty são estudantes da Uni-BH,que tiveram o projeto impulsionado pelo professor Montanha.
            </div>
        </div>    
    </div>
</div>
